.split {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.gutter {
  background-color: transparent;
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
  padding-right: 4px;
  padding-left: 4px;
}